@using BlazorBattleRosters.Data.Models;
<div class="modal @modalClass" tabindex="-1" role="dialog" style="display:@modalDisplay; overflow-y: auto;">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content bg-dark">
            <div class="modal-header">
                <h5 class="modal-title">@Title</h5>
                <button type="button" class="btn-close" data-dismiss="modal" aria-label="Close" @onclick="Close">
                </button>
            </div>
            <div class="modal-body">
                <EditForm Model="@Model">

                    <div class="form-floating ">
                        <InputText class="form-control" id="name" @bind-Value="Model.Name" placeholder="Name"></InputText>
                        <label class="text-dark" for="name">Name</label>
                    </div>
                    <hr />
                    <div class="row">
                        <div class="col-md">
                            <div class="form-floating">
                                <InputNumber class="form-control" id="movement" @bind-Value="Model.Movement" placeholder="Movement Speed"></InputNumber>
                                <label class="text-dark" for="movement">Movement</label>
                            </div>
                        </div>
                        <div class="col-md">
                            <div class="form-floating">
                                <InputNumber class="form-control" id="weaponSkill" @bind-Value="Model.WeaponSkill" placeholder="Weapon Skill"></InputNumber>
                                <label class="text-dark" for="weaponSkill">Weapon Skill</label>
                            </div>
                        </div>
                        <div class="col-md">
                            <div class="form-floating">
                                <InputNumber class="form-control" id="ballisticSkill" @bind-Value="Model.BallisticSkill" placeholder="Ballistic Skill"></InputNumber>
                                <label class="text-dark" for="ballisticSkill">Ballistic Skill</label>
                            </div>
                        </div>
                        <div class="col-md">
                            <div class="form-floating">
                                <InputNumber class="form-control" id="strength" @bind-Value="Model.Strength" placeholder="Strength"></InputNumber>
                                <label class="text-dark" for="strength">Strength</label>
                            </div>
                        </div>
                        <div class="col-md">
                            <div class="form-floating">
                                <InputNumber class="form-control" id="toughness" @bind-Value="Model.Toughness" placeholder="Toughness"></InputNumber>
                                <label class="text-dark" for="toughness">Toughness</label>
                            </div>
                        </div>
                    </div>
                    <br />
                    <div class="row">
                        <div class="col-md">
                            <div class="form-floating">
                                <InputNumber class="form-control" id="wounds" @bind-Value="Model.Wounds" placeholder="Wounds"></InputNumber>
                                <label class="text-dark" for="wounds">Wounds</label>
                            </div>
                        </div>
                        <div class="col-md">
                            <div class="form-floating">
                                <InputNumber class="form-control" id="attacks" @bind-Value="Model.Attacks" placeholder="Attacks"></InputNumber>
                                <label class="text-dark" for="attacks">Attacks</label>
                            </div>
                        </div>
                        <div class="col-md">
                            <div class="form-floating">
                                <InputNumber class="form-control" id="leadership" @bind-Value="Model.Leadership" placeholder="Leadership"></InputNumber>
                                <label class="text-dark" for="leadership">Leadership</label>
                            </div>
                        </div>
                        <div class="col-md">
                            <div class="form-floating">
                                <InputNumber class="form-control" id="save" @bind-Value="Model.SaveRoll" placeholder="Save"></InputNumber>
                                <label class="text-dark" for="save">Save</label>
                            </div>
                        </div>
                        <div class="col-md">
                            <div class="form-floating">
                                <InputNumber class="form-control" id="pointsValue" @bind-Value="Model.PointsValue" placeholder="Points"></InputNumber>
                                <label class="text-dark" for="pointsValue">Points</label>
                            </div>
                        </div>
                    </div>
                    <hr />
                    <h5>Weapons</h5>
                    @if (Model.Weapons != null)
                    {
                        @foreach (WeaponModel weapon in Model.Weapons)
                        {
                            <h6>@weapon.Name</h6>
                            <div class="form-floating ">
                                <InputText @bind-Value="@weapon.Name" class="form-control" id="weaponName" placeholder="Weapon Name" />
                                <label class="text-dark" for="weaponName">Weapon Name</label>
                            </div>
                            <br />
                            <div class="row">
                                <div class="col-md">
                                    <div class="form-floating">
                                        <InputNumber @bind-Value="@weapon.Range" type="number" class="form-control" id="range" placeholder="Range" />
                                        <label class="text-dark" for="range">Range</label>
                                    </div>
                                </div>
                                <div class="col-md">
                                    <div class="form-floating">
                                        <InputNumber @bind-Value="@weapon.Strength" type="number" class="form-control" id="weaponStrength" placeholder="Strength" />
                                        <label class="text-dark" for="weaponStrength">Strength</label>
                                    </div>
                                </div>
                                <div class="col-md">
                                    <div class="form-floating">
                                        <InputNumber @bind-Value="@weapon.ArmorPiercing" type="number" class="form-control" id="ap" placeholder="AP" />
                                        <label class="text-dark" for="ap">AP</label>
                                    </div>
                                </div>
                                <div class="col-md">
                                    <div class="form-floating">
                                        <InputNumber @bind-Value="@weapon.Damage" type="number" class="form-control" id="damage" placeholder="Damage" />
                                        <label class="text-dark" for="ap">Damage</label>
                                    </div>
                                </div>
                            </div>
                            <br />
                            <div class="row">
                                <div class="col-md">
                                    <div class="form-floating ">
                                        <input class="form-control" id="rules" placeholder="Rules" />
                                        <label class="text-dark" for="rules">Rules</label>
                                    </div>
                                </div>
                            </div>
                            <hr />
                        }
                    }
                    
                </EditForm>
                @ChildContent
            </div>
        </div>
    </div>
</div>

@if (showBackdrop)
{
    <div class="modal-backdrop fade show"></div>
}


@code {
    [Parameter]
    public string Title { get; set; } = string.Empty;

    [Parameter]
    public RenderFragment ChildContent { get; set; }

    [Parameter]
    public UnitModel Model { get; set; } = new UnitModel();

    private string modalDisplay = "none;";
    private string modalClass = string.Empty;
    private bool showBackdrop = false;

    public UnitModel AddWeapon(UnitModel model)
    {

        model.Weapons.Add(new WeaponModel());
        return model;
    }

    public void Open()
    {
        modalDisplay = "block";
        modalClass = "show";
        showBackdrop = true;
    }

    public void Close()
    {
        modalDisplay = "none";
        modalClass = string.Empty;
        showBackdrop = false;
    }
}
