@using BlazorBattleRosters.Data.Models;

@if (model != null)
{
    <div class="row">
        <div class="col-sm">
            <div class="text-center">M</div>
            <div class="numberSquare">@model.Movement"</div>
        </div>
        <div class="col-sm">
            <div class="text-center">WS</div>
            <div class="numberSquare">@model.WeaponSkill+</div>
        </div>
        <div class="col-sm">
            <div class="text-center">BS</div>
            <div class="numberSquare">@model.BallisticSkill+</div>
        </div>
        <div class="col-sm">
            <div class="text-center">S</div>
            <div class="numberSquare">@model.Strength</div>
        </div>
        <div class="col-sm">
            <div class="text-center">T</div>
            <div class="numberSquare">@model.Toughness</div>
        </div>
        <div class="col-sm">
            <div class="text-center">W</div>
            <div class="numberSquare">@model.Wounds</div>
        </div>
        <div class="col-sm">
            <div class="text-center">A</div>
            <div class="numberSquare">@model.Attacks</div>
        </div>
        <div class="col-sm">
            <div class="text-center">Ld</div>
            <div class="numberSquare">@model.Leadership</div>
        </div>
        <div class="col-sm">
            <div class="text-center">Sv</div>
            <div class="numberSquare">@model.SaveRoll+</div>
        </div>

    </div>
}


@code {
    [Parameter]
    public UnitModel? model { get; set; }
}
