@page "/rosterunits/{rosterId:int}"
@using BlazorBattleRosters.Data.Models
@using BlazorBattleRosters.Data.IServices
@inject NavigationManager NavigationManager
@inject IJSRuntime JsRuntime
@inject IRostersService RostersServices

<container>    
    <h1 class="text-center">@Roster.Name </h1>
    <hr />
    <button @onclick="() => CreateUnit()" class="btn btn-lg btn-outline-success"><span class="oi oi-plus"></span> New Unit</button>
    
    @if (Roster.Units != null)
    {
        <br />
        <br />
        @foreach (UnitModel unit in Roster.Units)
        {
            <Unit onEditUnitButtonClicked="() => EditUnit(unit)" Model="@unit"></Unit>
        }
    }
    
    <hr />
    <div class="float-end">
        <button @onclick="() => DeleteRoster()" class="btn btn-danger btn-sm">
            <strong><span class="oi oi-trash"></span> Delete </strong>
        </button>
    </div><br /><br />
</container>

<EditUnitModal @ref="@ModalDialog" Title="Unit Details" Model="UnitToEdit">
    <EditForm id="editUnit"  Model="@UnitToEdit" EditContext="@_editContext" OnSubmit="@HandleSubmit">
    <div class="float-end"> 
        <button class="btn btn-primary" type="submit" form="editUnit">Save</button>
    </div>
    </EditForm>
    <button class="btn btn-secondary" @onclick="() => CancelEdit()">Cancel</button>
</EditUnitModal>



@code {
    [Parameter]
    public int RosterId { get; set; }
    public RosterModel Roster { get; set; } = new RosterModel();
    public EditUnitModal? ModalDialog { get; set; }
    public UnitModel UnitToEdit { get; set; } = new UnitModel();

    private EditContext? _editContext;
    private string _oldDbUserId = "afee9e21-2c3c-4fda-97e5-6a573e1dbb70";



    private async Task HandleSubmit()
    {
        if (_editContext != null && _editContext.Validate())
        {
            Console.WriteLine("WIN");
        }
        else
        {
            await this.SaveUnitModel(UnitToEdit);
            Console.WriteLine($"Submitted {UnitToEdit.Name}");
        }
    }

    private void GoHome()
    {
        NavigationManager.NavigateTo("/");
    }

    private void CreateUnit()
    {
        UnitToEdit = new UnitModel() { RosterId = RosterId };
        ModalDialog.Open();
    }

    private async Task SaveUnitModel(UnitModel model)
    {
        ModalDialog.Close();
        await RostersServices.CreateOrUpdateUnit(model, _oldDbUserId);
        await this.GetRosterDetails();
    }

    private void EditUnit(UnitModel unit)
    {
        UnitToEdit = unit;
        ModalDialog.Open();
    }

    private async Task CancelEdit()
    {
        await this.GetRosterDetails();
        ModalDialog.Close();
    }

    private async Task DeleteRoster()
    {
        bool confirmed = await JsRuntime.InvokeAsync<bool>("confirm", "Are you sure?");
        if (confirmed)
        {
            await RostersServices.DeleteRoster(RosterId);
            this.GoHome();
        }
        return;
    }

    protected override async Task OnInitializedAsync()
    {
        await this.GetRosterDetails();
    }

    internal async Task GetRosterDetails()
    {
        Roster = await RostersServices.GetRosterById(RosterId);
    }
}
